<ion-header>
  <ion-navbar>
    <ion-title>
      Agregar Cuenta Bancaria
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
	<ng-progress [color]="'#1d2144'" [spinner]="false" [meteor]="false" [thick]="true"></ng-progress>
	<div class="content-form">
		<form [formGroup]="registerAccountForm">
			<ion-list>
			  <ion-list-header>
				  Ingresa los datos de la cuenta bancaria:
			  </ion-list-header>
			  <ion-item>
			    <ion-label stacked>Nombre completo del titular</ion-label>
			    <ion-input type="text" formControlName="holder_name" [ngClass]="{'danger': formErrors.holder_name}"></ion-input>
			  </ion-item>
			  <ion-item>
			    <ion-label stacked>Número de cuenta CLABE</ion-label>
			    <ion-input type="number" formControlName="clabe" [ngClass]="{'danger': formErrors.clabe}"></ion-input>
			  </ion-item>
			  <ion-grid>
				  <ion-row>
				    <ion-col col-6 class="content-button">
				      <button ion-button class="btn-add" (click)="dismiss()">Cancelar</button>
				    </ion-col>
				    <ion-col col-6 class="content-button">
				      <button ion-button class="btn-add" (click)="addAccount(registerAccountForm)">Guardar</button>
				    </ion-col>
				  </ion-row>
			  </ion-grid>		  
		  	</ion-list>
		</form>
	</div>
</ion-content>
