 <ion-header>
  <ion-toolbar color="dark">
    <ion-buttons start>
      <button ion-button (click)="cropperReset()">Reset</button>
    </ion-buttons>
    <ion-buttons padding-left padding-right end>
      <button ion-button icon-only (click)="imageRotate()">
        <ion-icon name='refresh'></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons padding-left padding-right end>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name='close'></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons padding-left padding-right end>
      <button ion-button icon-only (click)="finish()">
        <ion-icon name='checkmark'></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="background">
  <div class="container">
    <img [src]="imageBase64" (load)="cropperLoad()" #image>
  </div>
</ion-content>