page-evaluations-pending {
	.scroll-content {
	    background-color: #fff;
	}
	ion-searchbar{
		width: 80%;
		margin: auto;
	}
	.searchbar-md .searchbar-input, .searchbar-ios .searchbar-input{
		border-radius: 35px;
		padding: 2px 55px;
		font-size: 1.4rem;
	}
	.searchbar-md .searchbar-search-icon {
		top: 7px;
	}
	.toolbar-title-md {
	    font-size: 16px;
	    font-weight: 500;
	}
	.toolbar-top{
		border-top-width: 1px;
		border-top-color: rgba(255,255,255,0.5); 
		border-top-style: solid;
	}
	.toolbar .searchbar-ios .searchbar-input{
		background-color: #fff;
	}
	.toolbar-title-ios{
		text-align: left;
		overflow: visible;
		font-weight: 500;
		font-size: 15px;
	}
	.toolbar-ios ion-title{
		padding: 0px 20px 1px;
	}
	.b-evaluation{
		border-radius: 50px;
		background-color: #5ec9c8;
		text-transform: inherit;
		font-size: 1.3rem !important;
		padding: 1.2em !important;
	}
	.list-ios > .item-block:first-child {
	    border-top: none;
	}
	.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
	    border-bottom: none;
	}
	.info-ev{
		color: #9e9e9e;
    	text-align: center;
    	margin-top: 55px;
	}
	.img-ent{
		border: 1px solid #f1f1f1;
	}
	ion-label{
    	display: flex;
    	flex-direction: column;
	}
	.title-suc{
		color: #1c2044;
		font-size: 14px;
	}
	.spinner-container {
		width: 100%;
		text-align: center;
		padding: 10px;
	}
	.text-divider{
		font-size: 12px;
	    color: #757575;
	}

	  ion-scroll[scrollX] {
    white-space: nowrap;
    height: 80px;
    overflow: hidden;

    .scroll-item {
      display: inline-block;
    }

    .selectable-icon{
      margin: 0px 20px;
      color: red;
      font-size: 100px;
    }

    ion-avatar img{
      margin: 10px;
    }
  }

  ion-scroll[scroll-avatar]{
    height: 60px;
  }

  /* Hide ion-content scrollbar */
  ::-webkit-scrollbar{
    display:none;
  }
}
