<ion-header>
  <ion-navbar>
    <ion-searchbar
	  [(ngModel)]="searchTerm"  
	  [formControl]="searchControl"
	  [showCancelButton]="false"
	  (ionInput)="onSearchInput()"
	  placeholder= "Buscar">
	</ion-searchbar>
  </ion-navbar>
  <ion-toolbar class="toolbar-top">
    <ion-title>Evaluaciones Realizadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	 <!--ion-row>
    <ion-item no-lines>
      <ion-scroll scrollX="true" style="padding: 0px !important">
        <ion-avatar *ngFor="let avatar of preferences">
          <img src="assets/imgs/bank.png" class="scroll-item"/>
          <p>{{avatar.nombre}}</p>
        </ion-avatar>
      </ion-scroll>
    </ion-item>
  </ion-row-->
  	<ng-progress [color]="'#1d2144'" [spinner]="false" [meteor]="false" [thick]="true"></ng-progress>
	<div *ngIf="searching" class="spinner-container">
	  <ion-spinner></ion-spinner>
	</div>
	<ion-list>
		<ion-item-group *ngFor = "let item of evaluations | keys">
    		<ion-item-divider color="light" class="text-divider">{{item.key}}</ion-item-divider>
			<ion-item *ngFor = "let evaluation of item.value" detail-push (click)="evaluationDetail(evaluation)">
				<ion-avatar item-start>
			      <img src="{{evaluation.sucursal.logo}}" class="img-ent">
			    </ion-avatar>
			    <h2 class="title-suc">{{evaluation.sucursal.nombre}} - {{evaluation.cuest.nombre}}</h2>
			    <p>$ {{evaluation.cuest.pagoxcuest}} - <span *ngIf="evaluation.estado == 1" style="color: #4e3f82;">En revisión</span><span *ngIf="evaluation.estado == 2" style="color: #54b8c2;">Aprobada</span><span *ngIf="evaluation.estado == 3" style="color: #a00b3e;">Rechazada</span>
			    </p>
			</ion-item>
		</ion-item-group>
		<p *ngIf="item.length == 0" class="info-ev">Aún no has respondido evaluaciones.</p>
	</ion-list>
</ion-content>
