page-modal-preference {
	.item-md, .item-ios{
		background-color: transparent;
		color: #fff;
	}
	.checkbox-md .checkbox-icon, .checkbox-ios .checkbox-icon{
		background-color: transparent;
		border-color: #fff;
	}
	.toolbar-title-md, .toolbar-title-ios{
		color: #ffffff;
    	font-weight: bold;
    	letter-spacing: 4px;
    	text-transform: uppercase
	}
	.button-close{
		color: #fff;
	}
}
