page-modal-init {
	.content-ios, .content-md{
		background-color: #fff;
		background-image: none;
		color: #000;
	}
	.title-info{
		text-align: center;
	    font-size: 19px;
	    margin-top: 45px;
	    margin-bottom: 35px;
	    color: #4094ae;
	    font-weight: bold;
	}
	.content-card{
		text-align: justify;
		padding: 0px 15px;
    	line-height: 20px;
	}
	.button-close{
		background-color: transparent;
	    box-shadow: none;
	    color: #444;
	    position: absolute;
	    right: 5px;
	    top: 5px;
	    font-size: 16px;
	}
	.btn-add{
		background-color: #1c2044;
		width: 90%;
	    margin: 20px auto;
	    display: block;
	}
}
