page-poll {
	.content-ios, .content-md {
	    color: #000;
	}
	.fixed-content{
		background-color: #fff !important;
	}
	ion-label{
		white-space: normal !important;
	}
	.header-profile{
		background-image: url(../assets/imgs/background1.jpg);
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: top;
	    text-align: center;
	    padding-top: 10%;
	    padding-bottom: 13%;
	}
	.img-profile{
	    border-radius: 50%;
	    width: 75px;
    	height: 75px;
    	background-color: #fff;
	}
	.name-profile{
		font-size: 17px;
	    margin: 10px;
	    color: #fff;
	    font-weight: bold;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	}
	.position-card{
		margin-top: -11%;
		padding: 10px 30px;
	}
	.title-account{
		text-align: center;
	    font-size: 15px;
	    font-weight: bold;
	    color:  #493C7D;
	    margin-top: 10px;
	}
	.icon-dir{
		height: 16px;
		width: auto;
		float: left;
		margin-right: 7px;
	}
	.text-dir{
		margin: 10px 0px 20px 0px;
		font-size: 12px;
		font-weight: bold;
		color: #333;
	}
	.content-question{
		margin: 0px 0px 70px 0px;
	}
	.item-label-stacked ion-label {
		white-space: normal !important;
	}
	.item-select .label-md, .item-input .label-md{
		color: #333;
		font-size: 1.3rem !important;
		text-align: justify;
	}
	.item-md{
		margin-bottom: 10px;
	}
	.select-answer{
		border: 1px solid #ccc;
	    border-radius: 5px;
	    margin-top: 5px;
	}
	.question-open{
		border: 1px solid #ccc;
	    border-radius: 2px;
	    margin-top: 5px;
	}
	.list-md .item-input:last-child{
		border-bottom: none !important;
	}
	.icon-camera{
		float: right;
	    color: #483c7c;
	    font-size: 20px;
	}
	.content-flex{
		display: flex;
		align-items: center;
		margin: 25px 0px 30px 0px;
	}
	.text-flex{
		margin-bottom: 0px;
		flex: 1;
		font-size: 13px;
	}
	.b-calification{
		width: 100%;
    	background-color: #483c7c;
    	text-transform: initial;
	}
	.icon-button{
		font-size: 15px;
    	margin-right: 5px;
	}
	.item-md.item-block .item-inner{
		padding-right: 0px;
	}
	.item-input-has-focus .label-md[stacked], .input-has-focus .label-md[stacked], .item-input-has-focus .label-ios[stacked], .input-has-focus .label-ios[stacked]{
		color: #333;
	}
	.img-text{
		margin: 20px 0px;
		text-align: center;
		font-size: 15px;
		font-weight: bold;
	}
	.ng-progress-bar {
        z-index: 0;
    }
    .ng-bar{
    	-webkit-transform: translate3d(100%, 0px, 0px) !important;
    }
    .text-13{
    	font-size: 13px;
    }
    .mb-80{
    	margin-bottom: 80px;
    }
    ion-card img {
    	margin: 0.4rem 0.2rem;
	}
	.list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child{
		box-shadow: inset 0 -1px 0 0 #fff;
	}
	.item-dir{
		padding-left: 0px !important;
	}
	.label-dir{
		white-space: normal;
		margin-bottom: 0px !important;
		margin-top: 0px !important;
	}


	.modal {
    padding: 18px;
    border: 1px solid lightgrey;
    //left: 50%;
   // transform: translateX(-50%);
    width: 100%;
    }

    .modal img {
        max-width: 100%;
    }
    .croppr-container * {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.croppr-container img {
    vertical-align: middle;
    max-width: 100%;
}

.croppr {
    position: relative;
    display: inline-block;
}

.croppr-overlay {
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    cursor: crosshair;
}

.croppr-region {
    border: 1px dashed rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 3;
    cursor: move;
    top: 0;
}

.croppr-imageClipped {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
}

.croppr-handle {
    border: 1px solid black;
    background-color: white;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 4;
    top: 0;
}

}
