<ion-header>
  <ion-navbar>
    <ion-title>RECUPERAR CONTRASEÑA</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class="content-form">
		<div class="align-right">
			<img src="assets/imgs/logo-w.png">
		</div>
		<hr class="style-hr">
		<div>
			<p class="info-password">Ingrese su dirección de correo electrónico y se le enviará un código con el que podrá recuperar su contraseña en pocos minutos.</p>
		</div>
		<form [formGroup]="ForgotPassword">
			<ion-list>
			    <ion-item>
				    <ion-label stacked>Correo Electrónico</ion-label>
				    <ion-input type="text" formControlName="email"></ion-input>
				</ion-item>
			    <div *ngIf="formErrors.email" class="alert-danger">
		          {{ formErrors.email }}
		        </div>
		  	</ion-list>
		</form>
		<button ion-button icon-start class="b-login" (click)="sendPassword(ForgotPassword)">Generar Código</button>
		<button ion-button icon-start class="b-login" (click)="codepage()"> Verificar código recibido</button>
	</div>
</ion-content>
