<ion-header>
  <ion-navbar>
    <ion-title>
      Confirmar
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
	<div class="content-header">
		<div class="align-right">
			<img src="{{user.imagen}}" class="img-social">
		</div>
		<div class="text-info">
			<span class="text-mouver">Shopperama</span> necesita algunos datos adicionales para completar el registro
		</div>
	</div>
	<div class="content-form">
		<form [formGroup]="registerUserForm">
			<ion-list>
			  <ion-list-header>
				  Tus datos
			  </ion-list-header>
			  <ion-item>
			    <ion-label stacked>Nombre</ion-label>
			    <ion-input autocomplete="off" name="nombre" type="text" formControlName="nombre" [ngClass]="{'danger': formErrors.nombre}"></ion-input>
			  </ion-item>
			  <ion-item>
			    <ion-label stacked>Email</ion-label>
			    <ion-input autocomplete="off" type="email" name="email" formControlName="email" [ngClass]="{'danger': formErrors.email}"></ion-input>
			  </ion-item>
			  <ion-row>
		        <ion-col col-7 class="p-left">
		          <ion-item>
		            <ion-label stacked>Sexo</ion-label>
			    	<ion-select interface="popover" formControlName="sexo" [ngClass]="{'danger': formErrors.sexo}" (ionChange)="setSexo($event)">
					<ion-option [value]="sexo.tipo" *ngFor = "let sexo of sexos">{{sexo.tipo}}</ion-option>
					</ion-select>
		          </ion-item>
		        </ion-col>
		        <ion-col col-5 class="p-right">
		          <ion-item class="padding-left-2px">
		            <ion-label stacked>Edad</ion-label>
			    	<ion-input autocomplete="off" name="edad" type="number" formControlName="edad" [ngClass]="{'danger': formErrors.edad}"></ion-input>
		          </ion-item>
		        </ion-col>
		      </ion-row>
		  	  </ion-list>
			  <ion-list>
		    	<ion-list-header>
				  Tus preferencias
				</ion-list-header>
			  <ion-item detail-push (click)="presentModal()">
		        <ion-label stacked>Preferencias</ion-label>
		      </ion-item>
		      <ion-col *ngFor = "let prefer of preferences"> 
		      	<ion-chip class="chip1"> 
		      		<ion-label>{{prefer.nombre}}</ion-label> 
		      		<button ion-button clear color="light" (click)="deleteChip(prefer)">
					    <ion-icon name="close-circle"></ion-icon>
					</button>
		      	</ion-chip> 
		      </ion-col>
		    </ion-list>
		    <ion-list>
		    	<ion-list-header>
				  Tu ubicación
				</ion-list-header>
				<ion-item>
				<ion-label stacked>Estado</ion-label>
				<ion-select interface="popover" formControlName="estado_id" [ngClass]="{'danger': formErrors.estado}" (ionChange)="setEstado($event)">
					<ion-option [value]="estado.id" *ngFor = "let estado of estados">{{estado.nombre}}</ion-option>
				</ion-select>
				</ion-item>
				<ion-item>
				<ion-label stacked>{{city}}</ion-label>
				<ion-select interface="popover" formControlName="municipio_id" [ngClass]="{'danger': formErrors.municipio}" (ionChange)="setMunicipio($event)">
					<ion-option [value]="municipio.id" *ngFor = "let municipio of municipios">{{municipio.nombre}}</ion-option>
				</ion-select>
				</ion-item>
				
				<div class="autocomplete">
				      <ion-item>
				        <ion-label stacked>Colonia</ion-label>
				        <ion-input  type="text" 
				                    formControlName="input"
				                    (ionChange)="search()"
				                    (ionBlur)="removeFocus()"
				                    debounce=500
				                    name="colonia"
									[ngClass]="{'danger': formErrors.colonia}"
				                    ></ion-input>
				      </ion-item>
				      <ion-list>
				        <ion-item *ngFor="let country of countries" (click)="add(country)">
				          {{country.nombre}}
				        </ion-item>
				      </ion-list>
				</div>

		      <button ion-button icon-start class="bt-login" (click)="register(registerUserForm)">Registrar</button>
			</ion-list>	
		</form>
	</div>
</ion-content>
