<ion-header>
  <ion-navbar>
    <ion-title>
      Editar Perfil
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
	<ng-progress [color]="'#1d2144'" [spinner]="false" [meteor]="false" [thick]="true"></ng-progress>
	<div class="content-header">
		<div class="align-right">
			<img src="{{image_user}}" class="img-social" (click)="presentActionSheet()">
			<a class="link-edit" (click)="presentActionSheet()"><ion-icon name="camera" class="icon-camera"></ion-icon> Editar imagen</a>
		</div>
	</div>
	<div class="content-form">
		<form [formGroup]="registerUserForm">
			<ion-list>
			  <ion-list-header>
				  Tus datos
			  </ion-list-header>
			  <ion-item>
			    <ion-label stacked>Nombre</ion-label>
			    <ion-input type="text" formControlName="nombre" [ngClass]="{'danger': formErrors.nombre}"></ion-input>
			  </ion-item>
			  <ion-item>
			    <ion-label stacked>Email</ion-label>
			    <ion-input type="email" formControlName="email" [ngClass]="{'danger': formErrors.email}"></ion-input>
			  </ion-item>
			  <ion-row>
		        <ion-col col-7 class="p-left">
		          <ion-item>
		            <ion-label stacked>Sexo</ion-label>
			    	<ion-select interface="popover" formControlName="sexo" [ngClass]="{'danger': formErrors.sexo}" (ionChange)="setSexo($event)">
					<ion-option [value]="sexo.tipo" *ngFor = "let sexo of sexos">{{sexo.tipo}}</ion-option>
					</ion-select>
		          </ion-item>
		        </ion-col>
		        <ion-col col-5 class="p-right">
		          <ion-item class="padding-left-2px">
		            <ion-label stacked>Edad</ion-label>
			    	<ion-input type="edad" formControlName="edad" [ngClass]="{'danger': formErrors.edad}"></ion-input>
		          </ion-item>
		        </ion-col>
		      </ion-row>
		  	  </ion-list>
			  <ion-list>
		    	<ion-list-header>
				  Tus preferencias
				</ion-list-header>
			  <ion-item detail-push (click)="presentModal()">
		        <ion-label stacked>Preferencias</ion-label>
		      </ion-item>
		      <ion-col *ngFor = "let prefer of preferences"> 
		      	<ion-chip class="chip1"> 
		      		<ion-label>{{prefer.nombre}}</ion-label> 
		      		<button ion-button clear color="light" (click)="deleteChip(prefer)">
					    <ion-icon name="close-circle"></ion-icon>
					</button>
		      	</ion-chip> 
		      </ion-col>
		    </ion-list>
		    <ion-list>
		    	<ion-list-header>
				  Tu ubicación
				</ion-list-header>
				<ion-item>
				<ion-label stacked>Estado</ion-label>
				<ion-select interface="popover" formControlName="estado_id" [ngClass]="{'danger': formErrors.estado}" (ionChange)="setEstado($event)">
					<ion-option [value]="estado.id" *ngFor = "let estado of estados">{{estado.nombre}}</ion-option>
				</ion-select>
				</ion-item>
				<ion-item>
				<ion-label stacked>{{city}}</ion-label>
				<ion-select interface="popover" formControlName="municipio_id" [ngClass]="{'danger': formErrors.municipio}" (ionChange)="setMunicipio($event)">
					<ion-option [value]="municipio.id" *ngFor = "let municipio of municipios">{{municipio.nombre}}</ion-option>
				</ion-select>
				</ion-item>

				<div class="autocomplete">
				    <ion-item>
						<ion-label stacked>Colonia</ion-label>
						<ion-input  type="text" 
						            formControlName="input"
						            (ionChange)="search()"
						            (ionBlur)="removeFocus()"
						            debounce=500
									[ngClass]="{'danger': formErrors.colonia}"
						            ></ion-input>
						</ion-item>
					<ion-list>
						<ion-item *ngFor="let country of countries" (click)="add(country)">
						  {{country.nombre}}
						</ion-item>
					</ion-list>
				</div>
		      <button ion-button icon-start class="bt-login" (click)="editProfile(registerUserForm)">Guardar Cambios</button>
			</ion-list>	
		</form>
	</div>
</ion-content>
