<ng4-loading-spinner></ng4-loading-spinner>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="centered-content">
            <div class="modal-body">
              <br><br>
              <div class="row">
                <div class="col-md-7">
                  <div class="form-group row">
                    <div class="col-md-12">
                      <label>Seleccione una Sucursal</label>
                      <select class="form-control" (change)="update_sucursal($event)">
                        <option [value]="sucursal.id" *ngFor = "let sucursal of sucursales">{{sucursal.nombre}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-12">
                      <label>Seleccione la Campaña</label>
                      <select class="form-control" (change)="setCampaign($event)">
                        <option [value]="campana.id" *ngFor = "let campana of campanas">{{campana.nombre}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-12">
                      <label>Seleccione el Cuestionario</label>
                      <select class="form-control" (change)="setCuestionario($event)">
                        <option [value]="cuestionario.id" *ngFor = "let cuestionario of cuestionarios">{{cuestionario.nombre}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-5">
                  <br><br>
                  <div class="form-group row">
                    <div class="col-md-6 center">
                      <p class="text-info2">Nº Cuestionarios</p>
                      <h2>{{num_cuestionario}}</h2>
                    </div>
                    <div class="col-md-6 center border-left">
                      <p class="text-info2">Pago por Cuestionario</p>
                      <h2>$ {{pagoxcuest}}</h2>
                    </div>
                  </div>
                </div>  
              </div>
              <br>
              <h4 class="title-item1">Seleccione un tipo de Cuestionario</h4>
              <hr>
              <div class="row">
                  <div class="col-md-4 div-icon">
                    <div class="content-icon" (click)="tipo_cuestionario = 'Blanco'" [ngClass]="{'active-tipo': tipo_cuestionario == 'Blanco'}">
                      <img src="assets/img/plus.png" alt="mejoras" width="15%" [ngClass]="{'tada': tipo_cuestionario == 'Blanco'}">
                    </div>
                    <h2 class="title-icon">En Blanco</h2>
                  </div>
                  <div class="col-md-4 div-icon">
                    <div class="content-icon" (click)="tipo_cuestionario = 'Servicio'" [ngClass]="{'active-tipo': tipo_cuestionario == 'Servicio'}">
                      <img src="assets/img/reception.png" alt="servicio" width="20%" [ngClass]="{'tada': tipo_cuestionario == 'Servicio'}">
                    </div>
                    <h2 class="title-icon">Cuest. de Servicio</h2>
                  </div>
                  <div class="col-md-4 div-icon">
                      <div class="content-icon" (click)="tipo_cuestionario = 'Mejoras'" [ngClass]="{'active-tipo': tipo_cuestionario == 'Mejoras'}">
                        <img src="assets/img/hold.png" alt="mejoras" width="20%" [ngClass]="{'tada': tipo_cuestionario == 'Mejoras'}">
                      </div>
                      <h2 class="title-icon">Cuest. de Mejoras</h2>
                  </div>
              </div>
              <br>
            </div>
            <div class="modal-body">
              <br>
              <div [hidden]="tipo_cuestionario != 'Blanco'">
                <div class="modal-header">
                  <h4 class="modal-title">Nuevo Cuestionario</h4>
                </div>
                <form novalidate class="form-question">
                  <div>
                    <br>
                    <div class="form-group row">
                      <div class="col-md-12">
                        <label>Nombre del Cuestionario</label>
                        <div class="input-group"> 
                          <span class="input-group-addon"><i class="icon-tag"></i></span>
                          <input type="text" class="form-control" [(ngModel)]='cuestionario.nombre' name="cuestionario">
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-12">
                        <label>Descripción del Cuestionario</label>
                        <div class="input-group"> 
                          <span class="input-group-addon"><i class="icon-speech"></i></span>
                          <textarea rows="3" name="descripcion" class="form-control" [(ngModel)]='create_cuestionario.descripcion' placeholder="Ingresa una breve descripción del cuestionario"></textarea>
                        </div>
                      </div>
                    </div>
                    <br>
                    <h4 class="title-item">Preguntas y Respuestas de Selección Única</h4>
                    <hr>
                    <p class="text-info1">Completa las campos de pregunta y respuestas según estas indicaciones: <br>
                    · Las repuestas deben ser cortas. Por ejemplo: Si, Bueno, Excelente.<br>
                    · Puedes agregar las preguntas que desees al cuestionario.
                    </p>
                    <div class="form-group row">
                      <div class="col-md-12">
                        <label>Pregunta</label>
                        <div class="input-group"> 
                          <span class="input-group-addon"><i class="icon-question"></i></span>
                          <input type="text" class="form-control" [(ngModel)]='question_unique' name="question_unique">
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-12">
                        <label>Respuestas</label>
                        <div class="input-group"> 
                          <span class="input-group-addon"><i class="icon-info"></i></span>
                          <tag-input 
                          [(ngModel)]='answers' 
                          name="items" 
                          class="content-tag"
                          theme='foundation-theme'
                          [placeholder]="'Puedes ingresar otra respuesta'"
                          [secondaryPlaceholder]="'Escribe una opción de respuesta y presiona Enter'"
                          [identifyBy]="'id'"
                          [displayBy]="'nombre'"
                          [separatorKeyCodes]="[188]"
                          ></tag-input>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-12">
                        <button type="button" class="btn btn-upload btn-question" (click)="addQuestion()">Añadir Pregunta al Cuestionario</button>
                      </div>
                    </div>
                    <br>
                    <h4 class="title-item">Pregunta Abierta</h4>
                    <hr>
                    <p class="text-info1">Esta pregunta será solicitada al encuestador para generar en su respuesta un comentario sobre un área en específico. Por ejemplo: El tipo de servicio.
                    </p>
                    <div class="form-group row">
                      <div class="col-md-12">
                        <label>Pregunta</label>
                        <div class="input-group"> 
                          <span class="input-group-addon"><i class="icon-question"></i></span>
                          <input type="text" class="form-control" [(ngModel)]='question_open' name="question_open">
                        </div>
                      </div>
                    </div>
                    <br>
                    <h4 class="title-item">Vista previa del Cuestionario</h4>
                    <hr>
                    <table class="table table-bordered table-striped table-sm">
                      <thead>
                        <tr>
                          <th>Pregunta</th>
                          <th>Respuestas</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor = "let preguntas of cuestionario.preguntas" [hidden]="preguntas.respuestas == []">
                          <td>{{preguntas.pregunta}}</td>
                          <td><span *ngFor = "let respuestas of preguntas.respuestas; let isLast=last">{{respuestas.nombre}}{{isLast ? '' : ', '}}</span></td>
                          <td class="buttons-question">
                            <button type="button" class="btn btn-edit" (click)="editQuestionModal.show();editQuestion(preguntas)">Editar</button>
                            <button type="button" class="btn btn-delete" (click)="deleteQuestionUModal.show();editQuestion(preguntas)">Borrar</button>
                          </td>
                        </tr>
                        <tr *ngIf="question_open != ''">
                          <td>{{question_open}}</td>
                          <td>Abierta</td>
                          <td class="buttons-question">
                            <button type="button" class="btn btn-edit" (click)="editQuestionOModal.show();editOQuestion()">Editar</button>
                            <button type="button" class="btn btn-delete" (click)="deleteQuestionOModal.show();editOQuestion()">Borrar</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </form>
              </div>
              <div [hidden]="tipo_cuestionario != 'Servicio'">
                <div class="modal-header">
                  <h4 class="modal-title">Cuestionario de Servicios</h4>
                </div>
                <div>
                  Modelo de Servicio En Construcción
                </div>
              </div>
              <div [hidden]="tipo_cuestionario != 'Mejoras'">
                <div class="modal-header">
                  <h4 class="modal-title">Cuestionario de Mejoras</h4>
                </div>
                <div>
                  Modelo de Mejoras En Construcción
                </div>
              </div>
              <br>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary">Regresar</button>
              <button type="button" class="btn btn-primary" (click)="sendCampaign()">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #editQuestionModal="bs-modal" id="editU-campaign" class="modal fade modal-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary position-cuestion" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Editar Pregunta</h4>
          <button type="button" class="close" (click)="editQuestionModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <div class="col-md-12">
              <label>Pregunta</label>
              <div class="input-group"> 
                <span class="input-group-addon"><i class="icon-question"></i></span>
                <input type="text" class="form-control" [(ngModel)]='question_uniqueE' name="question_unique">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <label>Respuestas</label>
              <div class="input-group"> 
                <span class="input-group-addon"><i class="icon-info"></i></span>
                <tag-input 
                [(ngModel)]='answers_edit' 
                name="items" 
                class="content-tag"
                theme='foundation-theme'
                [placeholder]="'Puedes ingresar otra respuesta'"
                [secondaryPlaceholder]="'Escribe una opción de respuesta'"
                [identifyBy]="'id'"
                [displayBy]="'nombre'"
                [maxItems]="5"
                [separatorKeyCodes]="[32, 188]"
                ></tag-input>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="editQuestionModal.hide()">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="updateQuestion()">Actualizar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div bsModal #editQuestionOModal="bs-modal" id="editO-campaign" class="modal fade modal-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary position-cuestion" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Editar Pregunta Abierta</h4>
          <button type="button" class="close" (click)="editQuestionOModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <div class="col-md-12">
              <label>Pregunta</label>
              <div class="input-group"> 
                <span class="input-group-addon"><i class="icon-question"></i></span>
                <input type="text" class="form-control" [(ngModel)]='question_openE' name="question_unique">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="editQuestionOModal.hide()">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="updateOQuestion()">Actualizar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div bsModal #deleteQuestionUModal="bs-modal" id="modal-delete" class="modal fade modal-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Eliminar Pregunta</h4>
        <button type="button" class="close" (click)="deleteQuestionUModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Desea eliminar la pregunta?: <b>{{question_uniqueE}}</b></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="deleteQuestionUModal.hide()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="deleteQuestionUModal.hide();deleteUQuestion()">Eliminar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #deleteQuestionOModal="bs-modal" id="modal-delete" class="modal fade modal-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Eliminar Pregunta Abierta</h4>
        <button type="button" class="close" (click)="deleteQuestionOModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Desea eliminar la pregunta abierta?: <b>{{question_openE}}</b></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="deleteQuestionOModal.hide()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="deleteQuestionOModal.hide();deleteOQuestion()">Eliminar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

