<div class="sidebar">
  <app-sidebar-header></app-sidebar-header>
  <app-sidebar-form></app-sidebar-form>
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="divider"></li>
      <li class="nav-title">
        Menú
      </li>
      <li class="nav-item" *ngxPermissionsOnly="['EMPRESA', 'EMPLEADO', 'ADMIN']">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-layers"></i> Panel principal </a>
      </li>
      <li class="nav-item" *ngxPermissionsOnly="['ADMIN']">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/empresas']"><i class="icon-briefcase"></i> Empresas </a>
      </li>
      <li class="nav-item" *ngxPermissionsOnly="['ADMIN']">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/clientes']"><i class="icon-people"></i> Clientes </a>
      </li>
      <li class="nav-item" *ngxPermissionsOnly="['ADMIN']">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/categorias']"><i class="icon-star"></i> Preferencias </a>
      </li>
      <li class="nav-item" *ngxPermissionsOnly="['ADMIN']">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/tarifas']"><i class="icon-calculator"></i> Tarifas </a>
      </li>
      <li class="nav-item" *ngxPermissionsOnly="['EMPRESA']">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/presupuestos']"><i class="icon-calculator"></i> Presupuestos </a>
      </li>
      <li class="nav-item" *ngxPermissionsOnly="['EMPRESA']">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/publicar_cuestionario']"><i class="icon-rocket"></i> Publicar Cuestionario</a>
      </li>
      <!--li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/add_sucursal']"><i class="icon-magnifier-add"></i> Aprobar edición de Cuestionario</a>
      </li-->
      <li class="nav-item" *ngxPermissionsOnly="['EMPRESA','CAMP_CREAR']">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/presupuesto_cuestionario']"><i class="icon-calculator"></i>Presupuesto por Cuestionario</a>
      </li>
      <!--li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/estadisticas']"><i class="icon-pie-chart"></i> Estadísticas </a>
      </li-->
      <li class="nav-item" *ngxPermissionsOnly="['EMPRESA']">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/usuarios']"><i class="icon-people"></i> Usuarios </a>
      </li>
      <li class="nav-item nav-dropdown" *ngxPermissionsOnly="['EMPRESA']" routerLinkActive="open" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-briefcase"></i> Sucursales</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/ver_sucursal']"><i class="icon-magnifier"></i> Ver sucursales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/add_sucursal']"><i class="icon-magnifier-add"></i> Agregar sucursal</a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown" *ngxPermissionsOnly="['EMPRESA','CAMP_CREAR','CAMP_VER','CAMP_EDIT','CAMP_DELETE']" routerLinkActive="open" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-flag"></i> Campañas </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item" *ngxPermissionsOnly="['EMPRESA','CAMP_VER','CAMP_EDIT','CAMP_DELETE']">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/ver_campanas']"><i class="icon-magnifier"></i> Ver campañas</a>
          </li>
          <li class="nav-item" *ngxPermissionsOnly="['EMPRESA','CAMP_CREAR']">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/add_campana']"><i class="icon-magnifier-add"></i> Crear campaña</a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown" *ngxPermissionsOnly="['EMPRESA','CUEST_CREAR','CUEST_VER','CUEST_EDIT','CUEST_DELETE','CAMP_CREAR']" routerLinkActive="open" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-note"></i> Cuestionarios </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item" *ngxPermissionsOnly="['EMPRESA','CUEST_VER','CUEST_EDIT','CUEST_DELETE']">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/ver_cuestionarios']"><i class="icon-magnifier"></i> Ver cuestionarios</a>
          </li>
          <li class="nav-item" *ngxPermissionsOnly="['EMPRESA','CUEST_CREAR']">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/add_cuestionario']"><i class="icon-magnifier-add"></i> Agregar cuestionario</a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown" *ngxPermissionsOnly="['EMPRESA','CUEST_CREAR','CUEST_VER','CUEST_EDIT','CUEST_DELETE','CAMP_CREAR']" routerLinkActive="open" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-note"></i> Respuestas </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item" *ngxPermissionsOnly="['EMPRESA','CUEST_VER','CUEST_EDIT','CUEST_DELETE']">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/ver_respuestas']"><i class="icon-magnifier"></i> Ver respuestas</a>
          </li>
        </ul>
      </li>
      <li class="nav-item" *ngxPermissionsOnly="['EMPRESA']">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/mi_cuenta']"><i class="icon-user"></i> Mi cuenta </a>
      </li>
      <!--li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/configuracion']"><i class="icon-settings"></i> Información de la empresa </a>
      </li-->
      
      <!--li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-puzzle"></i> Components</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/buttons']"><i class="icon-puzzle"></i> Buttons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/social-buttons']"><i class="icon-puzzle"></i> Social Buttons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/cards']"><i class="icon-puzzle"></i> Cards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/forms']"><i class="icon-puzzle"></i> Forms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/modals']"><i class="icon-puzzle"></i> Modals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/switches']"><i class="icon-puzzle"></i> Switches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/tables']"><i class="icon-puzzle"></i> Tables</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/tabs']"><i class="icon-puzzle"></i> Tabs</a>
          </li>
        </ul>
      </li-->
  
      <!--li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-star"></i> Icons</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/icons/font-awesome']"><i class="icon-star"></i> Font Awesome<span class="badge badge-secondary">4.7</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/icons/simple-line-icons']"><i class="icon-star"></i> Simple Line Icons</a>
          </li>
        </ul>
      </li--> 

      <!-- <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/categorias']"><i class="icon-calculator"></i> Categorias</a>
      </li>
    
      
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/mensajes']"><i class="icon-calculator"></i> Mensajes</a>
      </li-->
    </ul> 
  </nav>
  <app-sidebar-footer></app-sidebar-footer>
  <app-sidebar-minimizer></app-sidebar-minimizer>
</div>
