<ion-content>
  <div class="header-profile">
    <ion-badge>1</ion-badge>
    <ion-icon ios="md-notifications" md="md-notifications" class="icon-edit"></ion-icon>
    <img src="{{usuario.imagen}}" alt="usuario" class="img-profile">
    <p class="name-profile">{{usuario.nombre}}</p>
    <ion-grid class="content-count">
      <ion-row>
        <ion-col col-4>
          <p class="number-count">12</p>
          <p class="title-count">Calificaciones</p>
        </ion-col>
        <ion-col col-4>
          <p class="number-count">3</p>
          <p class="title-count">Disponibles</p>
        </ion-col>
        <ion-col col-4>
          <p class="number-count">2</p>
          <p class="title-count">Pendientes</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="content-card">
    <div class="content-pay">
      <div class="img-bank">
        <img src="assets/imgs/bank.png" alt="cuenta">
      </div>
      <p>Cuenta Predeterminada: xxx - 250</p>
    </div>
    <ion-grid class="content-menu">
      <ion-row class="h-25">
        <ion-col col-12>
          <p class="title-account"><ion-icon name="checkbox" class="icon-menu"></ion-icon> Nueva Convocatoria de Evaluación</p>
        </ion-col>
      </ion-row>
      <ion-row class="h-45">
        <ion-col col-4 class="center">
          <img src="{{logo_sucursal}}" alt="empresa" class="img-empresa">
        </ion-col>
        <ion-col col-8>
          <h2 class="text-mount">{{nombre_sucursal}}</h2>
          <p class="title-amount">Estamos solicitando que puedas evaluarnos, agradecemos tu tiempo. <br><br> ¿Deseas tomar la evaluación?</p>
        </ion-col>
      </ion-row>
      <ion-row class="h-30">
        <ion-col col-6 class="center">
          <button ion-button icon-start class="b-si" (click)="acceptQuestion()"><ion-icon name="checkmark" class="icon-b"></ion-icon> Si</button>
        </ion-col>
        <ion-col col-6 class="center">
          <button ion-button icon-start class="b-no" (click)="declineQuestion()"><ion-icon name="close" class="icon-b"></ion-icon> No</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>