ion-simple-wizard {
    :host {
      display: flex;
      flex-direction: column;

    }
    .ion-wizard-footer {
     position: relative;
     transform: translate3d(0, 0, 0);
     -webkit-transform: translate3d(0, 0, 0);
      bottom: 0;
      left: 0;
      z-index: 100;
      display: block;
      width: 100%;
      text-align: center;
    }
    .footer-md::before{
      background-image: none !important;
    }
    ion-footer {
      position: relative !important;
    }
    .badge-md, .badge-ios{
      background-color: #4b3c7f;
    }
    .fab-md, .fab-ios, .fab-md.activated, .fab-ios.activated{
      background-color: #5dc6c6;
    }
}