<div class="carousel-container">
  <div class="carousel">
    <div radio-group class="carousel-slide-item" 
    *ngFor="let item of items" 
    [ngStyle]="{'transform': 'rotateY(-'+item.currentPlacement+'deg)  translateZ('+tz+'px)', '-webkit-transform': 'rotateY('+item.currentPlacement+'deg)  translateZ('+tz+'px)', '-ms-transform': 'rotateY('+item.currentPlacement+'deg)  translateZ('+tz+'px)', 
    '-o-transform': 'rotateY('+item.currentPlacement+'deg)  translateZ('+tz+'px)'}"
    (swipeleft)="onSwipeLeft($event,item);"
    (swiperight)="onSwipeRight($event,item);"
    >
      <img src="{{item.empresa_imagen}}" class="img-carousel" />
      <p class="name-empresa">{{item.nombre_empresa}}</p>
      <hr class="style-hr">
      <p class="name-cuest">{{item.nombre_campana}}</p>
      <!--p class="description-cuest">Descripcion de cuestionario....</p-->
	   <button class="buttom-tg"><ion-icon ios="md-clipboard" md="md-clipboard"></ion-icon></button>
    </div>
  </div>
</div>