<ion-tabs tabsPlacement="bottom" tabsLayout="title-hide" class="hideElementOnKeyboardShown">
  <ion-tab [root]="tab1Root" tabIcon="menus"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="envio"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="usuario"></ion-tab>
</ion-tabs>
