<ion-content>
    <div class="content-info">
      <img src="{{usuario.imagen}}" alt="usuario" class="img-user">
      <div>
        <p class="text-user">¡Bienvenido {{usuario.nombre}}!</p>
        <p class="text-count">Evaluaciones disponibles</p>  
      </div> 
    </div>
    <div class="content-saldo">
      <div *ngIf="!show_a" style="padding-right: 15px;">
        <ion-spinner></ion-spinner>
      </div>
      <p class="p-mount" *ngIf="show_a">$ {{balance}}</p>
      <p class="title-mount">Saldo Acreditado</p> 
    </div>
    <div class="content-carousel">
      <p class="title-pend">Evaluaciones Disponibles</p>
      <hr class="style-hr">
      <div class="carousel-container">
        <div class="carousel">
          <div class="carousel-slide-item" 
          *ngFor="let item of questions" 
          [ngStyle]="{'transform': 'rotateY(-'+item.currentPlacement+'deg)  translateZ('+tz+'px)', '-webkit-transform': 'rotateY('+item.currentPlacement+'deg)  translateZ('+tz+'px)', '-ms-transform': 'rotateY('+item.currentPlacement+'deg)  translateZ('+tz+'px)', 
          '-o-transform': 'rotateY('+item.currentPlacement+'deg)  translateZ('+tz+'px)'}"
          (swipe)="swipeEvent($event,item)"
          (click)="acceptQuestion(item)"
          >
            <img src="{{item.empresa_imagen}}" class="img-carousel" />
            <p class="name-empresa">{{item.nombre_empresa}}</p>
            <hr class="style-hr">
            <p class="name-cuest">{{item.nombre_cuestionario}}</p>
            <p class="description-cuest1">Requisitos para participar en la evaluación:</p>
            <p class="description-cuest">{{item.descripcion_cuestionario}}</p>
           <button class="buttom-tg"><ion-icon ios="md-clipboard" md="md-clipboard"></ion-icon></button>
          </div>
        </div>
        <div class="carousel-slide-item" *ngIf="evaluations_empty">
          <img src="assets/imgs/calendar.png" class="img-empty">
          <p>¡No hay evaluaciones disponibles por el momento!</p>
        </div>
      </div>
    </div> 
</ion-content>