page-help {

	.scroll-content{
	  color: #000;
	 background-color: #fff;
	}

  ion-footer {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
  background-color: #fff;
  height: 255px; }

.line-breaker {
  white-space: pre-line; }

.input-wrap {
  padding: 5px;
  display: flex; 
  background-color: #1c2044;
}
  .input-wrap textarea {
    flex: 1;
    border: 0;
    border-bottom: 1px #ffffff;
    border-style: solid; 
    background-color: #ffffff;
  }

.button-clear-md, .button-clear-ios{
  color: #ffffff;
}

.message-wrap {
  padding: 0 10px; }
  .message-wrap .message {
    position: relative;
    padding: 7px 0; }
    .message-wrap .message .user-img {
      position: absolute;
      border-radius: 45px;
      width: 45px;
      height: 45px;
      object-fit: cover;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.36); }
    .message-wrap .message .msg-detail {
      width: 100%;
      display: inline-block; }
      .message-wrap .message .msg-detail p {
        margin: 0; }
      .message-wrap .message .msg-detail .msg-info p {
        font-size: .8em;
        color: #888; }
      .message-wrap .message .msg-detail .msg-content {
        position: relative;
        margin-top: 5px;
        border-radius: 5px;
        padding: 8px;
        border: 1px solid #ddd;
        background-color: #eee;
        color: #333;
        width: auto;
        max-width: 80%; }
        .message-wrap .message .msg-detail .msg-content span.triangle {
          background-color: #fff;
          border-radius: 2px;
          height: 8px;
          width: 8px;
          top: 12px;
          display: block;
          border-style: solid;
          border-color: #ddd;
          border-width: 1px;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          position: absolute; }
  .message-wrap .message.left .msg-content {
    background-color: #fff;
    float: left; }
  .message-wrap .message.left .msg-detail {
    padding-left: 60px; }
  .message-wrap .message.left .user-img {
    left: 0; }
  .message-wrap .message.left .msg-detail .msg-content {
    color: #343434; }
    .message-wrap .message.left .msg-detail .msg-content span.triangle {
      border-top-width: 0;
      border-right-width: 0;
      left: -5px; }
  .message-wrap .message.right .msg-detail {
    padding-right: 60px; }
    .message-wrap .message.right .msg-detail .msg-info {
      text-align: right; }
  .message-wrap .message.right .user-img {
    background-color: #e0e0e0 !important;
    right: 0; }
  .message-wrap .message.right ion-spinner {
    position: absolute;
    right: 10px;
    top: 50px; }
  .message-wrap .message.right .msg-detail .msg-content {
    background-color: #e0e0e0;
    float: right; }
    .message-wrap .message.right .msg-detail .msg-content span.triangle {
      background-color: #e0e0e0;
      border-bottom-width: 0;
      border-left-width: 0;
      right: -5px; }
}
