<ion-header>
  <ion-navbar>
    <ion-title>Buzón de Sugerencias</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="message-wrap">
    <div *ngFor="let msg of msgList"
         class="message"
         [class.left]=" msg.emisor_id === toUser.id "
         [class.right]=" msg.emisor_id === user.id ">
      <img class="user-img" [src]="msg.userAvatar" alt="" >
      <ion-spinner name="dots" *ngIf="msg.status === 1"></ion-spinner>
      <div class="msg-detail">
        <div class="msg-info">
          <p>{{msg.created_at | relativeTime}}</p>
        </div>
        <div class="msg-content">
          <span class="triangle"></span>
          <p class="line-breaker ">{{msg.msg}}</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer no-border [style.height]="showEmojiPicker ? '255px' : '55px'">
  <div class="input-wrap">
    <textarea #chat_input
              placeholder="Escribe un mensaje"
              [(ngModel)]="editorMsg"
              (keyup.enter)="sendMsg()"
              (focusin)="onFocus()">
    </textarea>
    <button ion-button clear icon-only item-right (click)="sendMsg()">
      <ion-icon name="ios-send" ios="md-send" md="md-send"></ion-icon>
    </button>
  </div>
</ion-footer>