<ion-content>
  <div class="header-profile">
    <img src="{{usuario.imagen}}" alt="usuario" class="img-profile">
    <p class="name-profile">{{usuario.nombre}}</p> 
    <ion-grid class="content-count">
      <ion-row>
        <ion-col col-6>
          <p class="number-count">{{count_pending}}</p>
          <p class="title-count">Evaluaciones Disponibles</p>
        </ion-col>
        <ion-col col-6>
          <p class="number-count">{{count_answer}}</p>
          <p class="title-count">Evaluaciones Realizadas</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-list>
	  <ion-item detail-push (click)="editProfile()">
        <ion-label stacked><ion-icon name="create" md="md-create" ios="md-create" class="mr-10"></ion-icon> Editar Perfil</ion-label>
      </ion-item>
      <ion-item detail-push (click)="viewWallet()">
        <ion-label stacked><ion-icon name="cash" md="md-cash" ios="md-cash" class="mr-10"></ion-icon> Mis Finanzas</ion-label>
      </ion-item>
      <ion-item detail-push (click)="viewHelp()">
        <ion-label stacked><ion-icon name="cash" md="md-mail" ios="md-mail" class="mr-10"></ion-icon> Ayuda</ion-label>
      </ion-item>
      <ion-item detail-push (click)="presentConfirm()">
        <ion-label stacked><ion-icon name="log-out" md="md-log-out" ios="md-log-out" class="mr-10"></ion-icon> Cerrar Sesión</ion-label>
      </ion-item>
	</ion-list>
</ion-content>
