page-about {
	.center{
		text-align: center;
		margin-top: 35%;
	}
	.b-login{
		border-radius: 4px;
	    background-color: transparent;
	    border: 1px solid #fff;
	    color: #fff;
	    font-weight: normal;
	    font-size: 15px;
	    text-transform: inherit;
	    font-weight: 500;
	    margin-top: 10px;
	    width: 80%;
	    margin: 30px auto;
	    display: block;
	}
	.icon-button{
		margin-right: 15px;
		height: 17px;
	}
}
